@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: rgb(241 243 253);
  font-family: "Open Sans", sans-serif;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}

.warn {
  width: 90%;
  padding: 10px 15px;
  margin: 13px 0;
  display: inline-block;
  border: 2px solid rgb(233, 231, 150);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgb(245, 244, 198);
  text-align: center;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

button {
  width: 90%;
  background-color: #0b84ee;
  color: white;
  padding: 15px 25px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1.5px solid #0b84ee;
  outline: none;
}
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
  color: rgb(187, 186, 186);
}
::-webkit-input-placeholder {
  /* Edge */
  color: rgb(136, 135, 135);
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: rgb(136, 135, 135);
}

::placeholder {
  color: rgb(136, 135, 135);
}
